html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.dropBox {
  zoom: 1;
}
.dropBox:before {
  content: "";
  display: table;
}
.dropBox:after {
  content: "";
  display: table;
  clear: both;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  -webkit-text-size-adjust: none;
}

.outer {
  min-height: 100%;
  margin: auto;
}
.outer .container-fluid {
  margin-top: 15px;
}

header {
  width: 100%;
  height: 60px;
  background-color: #83b81a;
  margin: 0 0 0 0;
}

footer {
  position: absoulte;
  bottom: 0px;
}

img {
  height: auto;
  max-width: 100%;
}

.photo_view {
  min-height: 100%;
  width: 100%;
  background: #999999;
}
.photo_view a {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
}
.photo_view .photo_box {
  display: table-cell;
  margin: auto;
  text-align: center;
}
.photo_view img {
  padding: 20px;
  width: 65%;
  vertical-align: middle;
}

.dropBox {
  height: 100%;
  min-height: 300px;
}
.dropBox img {
  height: 150px;
}
.dropBox div {
  float: left;
  margin: 0 15px 10px 0;
}
